<Configuration>
    <Appenders>
        <Console name="console">
            <PatternLayout>
                <Pattern>%style{[}{blue}%style{%d{yyyy-MM-dd HH:mm:ss.SSS}}{bright,green}%style{]}{blue} - %highlight{%5p}{STYLE=LogBack} %style{---}{bright,magenta} %style{%-70.70logger}{bright,cyan} : %m - (%c{0}.java:%line)%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <logger name="eionet" level="debug"/>
        <Root level="INFO">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>