<Configuration>
    <Appenders>
        <Console name="console">
            <PatternLayout>
                <Pattern>%style{[}{blue}%style{%d{yyyy-MM-dd HH:mm:ss.SSS}}{bright,green}%style{]}{blue} - %highlight{%5p}{STYLE=LogBack} %style{---}{bright,magenta} %style{%-70.70logger}{bright,cyan} : %m - (%c{0}.java:%line)%n</Pattern>
            </PatternLayout>
        </Console>
        <RollingFile name="RollingFile" fileName="${env:QUERY_LOG_DIR_PATH}/${env:QUERY_LOG_FILENAME_PATH}" filePattern="${env:QUERY_LOG_DIR_PATH}/${env:INSTANCE_NAME}-%d{yyyy-MM-dd}.log.gz">
<!--        <RollingFile name="RollingFile" fileName="/home/claudia/work/services_query.log" filePattern="/home/claudia/work/service_query-%d{yyyy-MM-dd}.log.gz">-->
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="1">
                <!--    testMode - boolean - If true, files are not deleted but instead a message is printed to the status -->
                <!--    logger at INFO level. Use this to do a dry run to test if the configuration works as expected. Default is false.-->
                <Delete basePath="${env:QUERY_LOG_DIR_PATH}" maxDepth="1" testMode="${env:QUERY_LOG_RETAIN_ALL}">
                    <IfFileName glob="${env:QUERY_LOG_DIR_PATH}/${env:INSTANCE_NAME}-*.log.gz" />
                    <!-- <IfLastModified age="30d" /> -->
                    <IfLastModified age="${env:QUERY_LOG_RETENTION_DAYS}" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <!-- Configure the Sentry appender, overriding the logging threshold to the WARN level -->
        <Sentry name="Sentry" />
    </Appenders>
    <Loggers>
        <logger name="eionet" level="debug"/>
        <!-- QUERY_LOG_LEVEL environment variable to set the logger level - off/info-->
        <Logger name="RollingFileLogger" level="${env:QUERY_LOG_LEVEL}">
            <AppenderRef ref="RollingFile" />
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="console"/>
            <AppenderRef ref="Sentry" level="WARN" />
        </Root>
    </Loggers>
</Configuration>