/* SPARQL endpoint. */
span.shadowHover:hover {
    background-color: #FFFFFF;
    cursor: pointer;
}

/* Tabbed menus - as used on the front page */
#tabbedmenu {
    float:left;
    width:100%;
    background: url("http://www.eionet.europa.eu/styles/eionet2007/tab_bg.png") bottom repeat-x;
    font-size: 0.9em;
    line-height:normal;
}
#tabbedmenu ul {
    margin:0;
    padding:0px 10px 0 10px;
    list-style:none;
}
#tabbedmenu li {
    float:left;
    background:url("http://www.eionet.europa.eu/styles/eionet2007/tab_left.png") no-repeat left top;
border-bottom: 3px solid #315076;
    margin:0;
    padding:0 0 0 6px;
    white-space: nowrap;
}
#tabbedmenu a {
    display:block;
    text-decoration: none;
    font-weight: bold;
    color: black;
    background:url("http://www.eionet.europa.eu/styles/eionet2007/tab_right.png") no-repeat right top;
    padding:3px 8px 2px 0px;
}

#tabbedmenu a:hover {
    text-decoration: none;
    background-color: transparent;
}

#tabbedmenu #currenttab {
    background-image:url("http://www.eionet.europa.eu/styles/eionet2007/tab_left_on.png");
border-bottom: 3px solid #cedc32;
}

#tabbedmenu #currenttab span, #tabbedmenu #currenttab a {
    display:block;
    text-decoration: none;
    font-weight: bold;
    background:url("http://www.eionet.europa.eu/styles/eionet2007/tab_right_on.png") no-repeat right top;
    padding:3px 8px 2px 0px;
}

#tabbedmenuend { clear: left; }

div.databox {
    color: #666666;
    background-color: #F6F6F6;
    border: 1px solid #666666;
    padding: 20px;
}


.question {
    vertical-align: top;
    font-weight: bold;
}

label.required {
    background: url(http://www.eionet.europa.eu/styles/eionet2007/mandatory.gif) center right no-repeat;
    padding-right: 12px;
}

input.error, textarea.error {
    color: black;
    font-style:italic;
    background:#FF8080;
    border: 2px inset #A42322;
}

input.error[type="radio"], input.error[type="checkbox"], select.error {
    background-color: white;
    color: #A42322;
    font-style: normal;
    border: 2px solid #A42322;
}

.error-hint {
    font-size: 80%;
    margin: 2px;
    padding: 2px;
    border: 1px dotted black;
    background-color: #ffff80;
    color: black;
}

.input-hint {
    font-size: 80%;
    vertical-align:top;
}
/* Tables for arranging formulars */

table.formtable {
/*    border: 1px solid #315076; */
    border-collapse: collapse;
}

.formtable th {
    vertical-align: top;
    text-align: right;
    border: none;
    background: transparent;
}

.formtable th.scope-col { /* IE6 doesn't understand [scope="col"] */
    text-align: left;
    border-bottom: 1px dotted #315076;
}

.formtable th[scope="col"] {
    text-align: left;
    border-bottom: 1px dotted #315076;
}

.formtable td  {
    vertical-align: top;
}



.quickjumps {
    float: right;
    width: 140px;
    padding: 0.5em 10px;
        margin: 0 10px;
    border: 1px solid #495b6b;
    background-color : #e5e2dc;
}

#rightcolumn.quickjumps {
    border: none;
    background-color: white;
}

.quickjumps ul {
    list-style-image: url(http://www.eionet.europa.eu/styles/eionet2007/bullet.gif);
    list-style-type: square;
    margin-left: 0;
    padding-left: 1.5em;
}
.quickjumps li {
    font-size: 80%;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    padding-bottom: 0.4em;
}
.quickjumps a, .quickjumps a:visited {
/*    text-decoration: none; */
    color: #024176
}
.quickjumps h2 {
    background-color : #eef7f9;
    text-align: center;
    margin-bottom: 0;
    font-size: 110%;
}
.quickjumps p {
    border-top: 1px dotted black;
    margin-bottom: 0;
    margin-top: 0.5em;
}

/* The .operations is for the buttons to the right of the page */

.operations {
        background-color: white;
    margin: 0;
}
.operations h2 {
    color: black;
        font-weight: bold;
        background-color: transparent;
    font-family: verdana, helvetica, sans-serif;
    font-size: 120%;
    padding-left: 10px;
}

.operations ul {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

.operations li {
    font-size:.75em;
    font-family: verdana, helvetica, sans-serif;
    font-weight: bold;
    line-height: 100%;
    white-space: nowrap;
}

.operations li a {
    display:block;
    font-weight: bold;
    color: #455b6b;
    text-decoration: none;
    background: url('http://www.eionet.europa.eu/styles/eionet2007/button_right.gif') no-repeat;
    padding: 5px 0px 0px 10px;
    border-bottom: none;
    width: 170px;
    height: 22px;
}
.operations li a:hover {
    color: #b20d00;
    background-color: transparent;
}
.operations li a:active {
    color: #b20d00;
    background: url('http://www.eionet.europa.eu/styles/eionet2007/button_right.gif') no-repeat;
}

.operations li.help a {
    background: url('http://www.eionet.europa.eu/styles/eionet2007/button_right.gif') no-repeat;
}
.operations li.help a:active {
    background: url('http://www.eionet.europa.eu/styles/eionet2007/button_right.gif') no-repeat;
}

/* The .operations is for the buttons to the right of the page */

#operations {
    float:right;
    background-color: white;
    margin: 0;
}
#operations h2 {
    color: black;
        font-weight: bold;
        background-color: transparent;
    font-family: verdana, helvetica, sans-serif;
    font-size: 120%;
    padding-left: 10px;
}

#operations ul {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

#operations li {
    font-size:.75em;
    font-family: verdana, helvetica, sans-serif;
    font-weight: bold;
    line-height: 100%;
    white-space: nowrap;
}

#operations li a {
    display:block;
    font-weight: bold;
    color: #455b6b;
    text-decoration: none;
    background: url('http://www.eionet.europa.eu/styles/eionet2007/button_right.gif') no-repeat;
    padding: 5px 0px 0px 10px;
    border-bottom: none;
    width: 170px;
    height: 22px;
}
#operations li a:hover {
    color: #b20d00;
    background-color: transparent;
}
#operations li a:active {
    color: #b20d00;
    background: url('http://www.eionet.europa.eu/styles/eionet2007/button_right.gif') no-repeat;
}

#operations li.help a {
    background: url('http://www.eionet.europa.eu/styles/eionet2007/button_right.gif') no-repeat;
}
#operations li.help a:active {
    background: url('http://www.eionet.europa.eu/styles/eionet2007/button_right.gif') no-repeat;
}


/* Admonitions follow DocBook: caution, important, note, tip and warning
   plus system and error */

.tip-msg, .note-msg,
.important-msg, .caution-msg, .warning-msg,
.error-msg {
    padding: 0.5em 0.5em 0.5em 30px;
    margin: 0.5em 2em;
    font-weight: bold;
}
.tip-msg strong, .note-msg strong,
.important-msg strong, .caution-msg strong, .warning-msg strong {
    font-weight: bold;
}

.tip-msg p, .note-msg p,
.important-msg p, .caution-msg p, .warning-msg p {
    font-weight: normal;
    margin: 0.2em 0;
    padding: 0.6em 2px 2px 0px;
}

#workarea .tip-msg ul, #workarea .note-msg ul,
#workarea .important-msg ul, #workarea .caution-msg ul, #workarea .warning-msg ul {
    font-weight: normal;
    margin: 0.2em 0;
    padding: 0.6em 2px 2px 0px;
    list-style-type: none;
    list-style-image: none;
}

.system-msg {
    border: 2px dashed black;
    padding: 0.5em;
    margin: 0.5em 2em;
    font-weight: bold;
}
#workarea .system-msg ul {
    list-style-type: none;
    list-style-image: none;
    padding: 0;
    margin: 0;
}

.tip-msg {
    border: 1px dotted #6c8ec0;
    color: #315076;
    background: url('http://www.eionet.europa.eu/styles/eionet2007/admonitions/tip_ea.gif') 3px 3px no-repeat;
}

.note-msg {
    border: 1px dashed black;
    background: url('http://www.eionet.europa.eu/styles/eionet2007/admonitions/note_ea.gif') 3px 3px no-repeat;
}

.important-msg {
    border: 1px solid #aaaaaa;
    background: url('http://www.eionet.europa.eu/styles/eionet2007/admonitions/important_ea.gif') 3px 3px no-repeat;
}

.caution-msg {
    border: 1px dashed black;
    background: url('http://www.eionet.europa.eu/styles/eionet2007/admonitions/caution_ea.gif') 3px 3px no-repeat;
}

.warning-msg {
    border: 1px dashed red;
    background: url('http://www.eionet.europa.eu/styles/eionet2007/admonitions/warning_ea.gif') 3px 3px no-repeat;
}

.error-msg {
    border: 2px dashed red;
    background: url('http://www.eionet.europa.eu/styles/eionet2007/admonitions/error.gif') 5px 5px no-repeat;
    color: #800000;
    font-size: 110%;
    font-weight: bold;
}

.advice-msg, .advise-msg {
    padding: 0.2em;
    border: 1px solid #aaa;;
    background-color: #f7f7f7;
}


.popup {
        margin:10px;
        background-image: none;
        background-color: white;
}

.popup #popuphead {
        height: 50px;
        width: 100%;
        background: #a5ced1 url('http://www.eionet.europa.eu/styles/eionet2007/top_01.png') repeat-y;
        border-top: 4px solid #6f7072;
        border-bottom: 1px solid #315076;
}
.popup #sitetitle {
        padding-left: 0.5em;
        font-size: 200%;
}
.popup #popupbody {
        margin-left: 0;
        border-left: 0;
        padding: 1em;
        min-height:0;
}

.popup h1 {
        padding: 0.2em 0em;
        margin: 0;
        font-size: 135%;
        background-color: transparent;
        color: #315076;
}

.popup #close {
        float:right;
}

th.sorted a,th.sortable a {
    background-repeat: no-repeat;
    background-position: right;
}

th.order1 a {
    background-image: url(../images/sortdown.gif);
}

th.order2 a {
    background-image: url(../images/sortup.gif);
}

.searchExprSample {
    font-family: Monaco, "Courier New", Courier, monospace;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #D9EDF2;
}

.exactMatch {
    background-color: #D9EDF2;
}

div.errorHeader {
    color: #FF0000;
}

div.csvWizard {
/*
    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
*/
}

div.csvWizardDesc {
/*
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
*/
    margin: 1em;
    background-color: #D9EDF2;
    padding: 1em;
}

table#resourcesResultList {
    width: 100%;
}

span.langcode {
    display:inline-block;
    min-width: 1.5em;
    text-align:center;
    color: #455b6b;
    text-decoration: none;
/*    text-transform: uppercase; */
    font-size: 70%;
    background-color: transparent;
    padding: 2px;
    border: 1px solid #0c506f;
}

/* source.action */
#sampletriples {
    width:100%;
    font-size:80%;
}
#sampletriples .derived {
    font-style: italic;
}
#sampletriples caption {
    text-align:left;
    color:black
}
/* Paging */
.pagination {
    margin: 0.2em;
    padding-bottom: 0.4em;
}
.selectedpage, .numberedpage, .nextpage, .prevpage, .firstpage, .lastpage {
    font-weight: bold;
    border: 1px solid black;
    padding: 0.1em 0.2em;
    margin: 0 0.1em;
}

.selectedpage {
    background-color: #61d3f7;
}

a.numberedpage, a.nextpage, a.prevpage, a.firstpage, a.lastpage {
    text-decoration: none;
}

a.numberedpage:hover, a.nextpage:hover, a.prevpage:hover, a.firstpage:hover, a.lastpage:hover {
    background-color:#71e3f7;
}

/* typeSearch.action */
#typesearch {
    padding-bottom:20px;
    width: 100%;
}

#typesearch select {
    width: 90%;
}

/* Dropdown operations */

#dropdown-operations, #dropdown-operations ul {
    padding: 0;
    margin: 0;
    list-style: none;
    list-style-image: none;
    float: right;
    width: 144px;
    font-family: verdana, helvetica, sans-serif;
}

#dropdown-operations li {

    float: left;
    position: relative;
    background: transparent url('../images/operations_back.gif') no-repeat;
    width: 144px;
    font-weight: bold;
    border-right: 1px dotted #ffffff;
    color: #fff;
    list-style: none;
    list-style-image: none;
    z-index: 11; /* Bug in IE6, IE7 */
}

#dropdown-operations li:hover {
    background-image: url(../images/operations_back2.gif);
}

#dropdown-operations li ul li:hover {
    background-image: none;
}

#dropdown-operations a:link, #dropdown-operations a:visited {
    display: block;
    text-decoration: none;
    padding: 0em 0.5em;
    color: #fff;
    font-size: 12px;
}

#dropdown-operations ul {
    display: none;
    position: absolute;
    top: 1.5em;
    left: 0;
    background-color: #A5CED1;
    list-style: none;
    list-style-image: none;
}

#dropdown-operations li > ul { /* For Opera and Firefox */
    top: auto;
    left: auto;
}

#dropdown-operations ul li {
    float: none;
    font-weight: normal;
    border-right: 0 none transparent;
    border-bottom: 1px dotted #000;
    background-color: #A5CED1;
    text-transform: none;
    background-image: none;
    margin: 0;
    padding: 0.1em 0;
    color: #fff;
}

#dropdown-operations li ul li a:link, #dropdown-operations li ul li a:visited {
    background: transparent url('../images/operations_drop_bullet.gif') 5px center no-repeat;
    padding: 0.1em 0 0.1em 15px;
    font-size: 12px;
    color: #000;
}

#dropdown-operations li ul li a:hover {
    background-color: #C8EDF0;
}

#dropdown-operations li:hover ul, #dropdown-operations li.over ul {
    display: block;
}

#dropdown-operations li:hover ul li, #dropdown-operations li.over ul li{
    width: 144px;
}

.action-box {
    background-color:#f0f0f0;
    padding:0.5em;
    margin: 0.3em;
    border:1px dotted black;
}
#workarea .action-box h2 {
    font-size:1.2em;
    padding: 0;
    margin: 0;
    font-weight:bold;
    border-top: none;
    border-bottom: 1px solid #cccccc;
    background-image: none;
    background-color: transparent;
}
.action-box h2 a {
    text-decoration: none;
    color: black;
}

table.datatable tr.odd {
    background: #D2DDED;
}

table.datatable tr.even {
    background: #FFFFFF;
}
