/* This style is for Semantic Data Service (SDS) new layout  */

input[type='text'] {
    padding: 5px;
    font-size: 1.2em;
}
#portal-columns input[type='radio'], #portal-columns input[type='checkbox'] {
    margin: 7px 0 0;
    vertical-align: top;
}
#portal-columns dd {
    margin-left: 3em;
}
label {
    font-size: 1.2em;
    line-height: 2em;
}

/* For TemplateEEA layout */
#region-content div.documentActions {
    display: none;
}
div#visual-column-wrapper #portal-column-content {
    width: 100%;
    float: right;
    margin-left: -190px;
}
div#visual-column-wrapper #content {
    height: 100%;
    margin: 0 0 0 190px;
    padding-left: 1.3em;
}
div#visual-column-wrapper #portal-column-one {
    float: left;
    width: 190px;
    overflow: hidden;
    position: relative;
}
#portlet-navigation-tree ul li a {
    background: transparent url(http://www.eea.europa.eu/bullet.gif) 1em no-repeat;
}

.formtable label {
    margin-bottom: 0;
    padding-right: 6px;
}
#filtersForm > div {
    
}

#content #format {
    vertical-align: inherit;
}

/* Simple Search page */
.formtable #expressionText{
    line-height: 1.6em;
}
.formtable tr td {
    vertical-align: middle;
}

/* Type Search page */
#portal-columns .btn-block {
    display: block !important;
}

/* Tag search page */
label.question {
    vertical-align: baseline;
}
.tag-search-form {
    
}
.tag-search-form p {
    margin-top: 0.5em;
}

/* Browse datasets page */
#content form#filtersForm fieldset {
    border: none;
    border-stlye: none;
}

/* For the Operations button from top-right of page */
#dropdown-operations li a:visited, #dropdown-operations li a:hover {
    color: #fff !important;
}
#dropdown-operations li ul {
    margin: 0;
}
