th.sorted a,th.sortable a {
	background-repeat: no-repeat;
	background-position: right;
}

th.order1 a {
	background-image: url(../images/sortdown.gif);
}

th.order2 a {
	background-image: url(../images/sortup.gif);
}

.searchExprSample {
	font-family: Monaco, "Courier New", Courier, monospace;
	padding-left: 2px;
	padding-right: 2px;
	background-color: #D9EDF2;
}

div.errorHeader {
	color: #FF0000;
}

span.langcode {
	display:block;
	min-width: 1.5em;
	text-align:center;
	color: #455b6b;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 70%;
	background-color: transparent;
	padding: 2px;
	border: 1px solid #0c506f;
}

/* source.action */
#sampletriples {
	width:100%;
	font-size:80%;
}
#sampletriples .derived {
	font-style: italic;
}
#sampletriples caption {
	text-align:left;
	color:black
}
/* Paging */
.pagination {
	margin: 0.2em 0;
}
.selectedpage, .numberedpage, .nextpage, .prevpage, .firstpage, .lastpage {
	font-weight: bold;
	border: 1px solid black;
	padding: 0.1em 0.2em;
	margin: 0 0.1em;
}

.selectedpage {
	background-color: #61d3f7;
}

a.numberedpage, a.nextpage, a.prevpage, a.firstpage, a.lastpage {
	text-decoration: none;
}

a.numberedpage:hover, a.nextpage:hover, a.prevpage:hover, a.firstpage:hover, a.lastpage:hover {
	background-color:#71e3f7;
}

/* typeSearch.action */
#typesearch {
	padding-bottom:20px;
	width: 100%;
}

#typesearch select {
	width: 90%;
}

/* Dropdown operations */

#dropdown-operations, #dropdown-operations ul {

	padding: 0;

	margin: 0;

	list-style: none;

	list-style-image: none;

	float: right;

	width: 144px;

	font-family: verdana, helvetica, sans-serif;

}



#dropdown-operations li {

	float: left;

	position: relative;

	background: transparent url('../images/operations_back.gif') no-repeat;

	width: 144px;

	font-weight: bold;

	border-right: 1px dotted #ffffff;

	color: #fff;

	list-style: none;

	list-style-image: none;

	z-index: 11; /* Bug in IE6, IE7 */

}



#dropdown-operations li:hover {

	background-image: url(../images/operations_back2.gif);

}





#dropdown-operations li ul li:hover {

	background-image: none;

}



#dropdown-operations a:link, #dropdown-operations a:visited {

	display: block;

	text-decoration: none;

	padding: 0em 0.5em;

	color: #fff;

	font-size: 12px;

}



#dropdown-operations ul {

	display: none;

	position: absolute;

	top: 1.5em;

	left: 0;

	background-color: #A5CED1;

	list-style: none;

	list-style-image: none;

}



#dropdown-operations li > ul { /* For Opera and Firefox */

	top: auto;

	left: auto;

}



#dropdown-operations ul li {

	float: none;

	font-weight: normal;

	border-right: 0 none transparent;

	border-bottom: 1px dotted #000;

	background-color: #A5CED1;

	text-transform: none;

	background-image: none;

	margin: 0;

	padding: 0.1em 0;

	color: #fff;

	

}



#dropdown-operations li ul li a:link, #dropdown-operations li ul li a:visited {

	background: transparent url('../images/operations_drop_bullet.gif') 5px center no-repeat;

	padding: 0.1em 0 0.1em 15px;

	font-size: 12px;

	color: #000;

}

#dropdown-operations li ul li a:hover {

	background-color: #C8EDF0;

}



#dropdown-operations li:hover ul, #dropdown-operations li.over ul {

	display: block;

}

#dropdown-operations li:hover ul li, #dropdown-operations li.over ul li{

	width: 144px;

}