th.sorted a,th.sortable a {
	background-repeat: no-repeat;
	background-position: right;
}

th.order1 a {
	background-image: url(../images/sortdown.gif);
}

th.order2 a {
	background-image: url(../images/sortup.gif);
}

.searchExprSample {
	font-family: Monaco, "Courier New", Courier, monospace;
	padding-left: 2px;
	padding-right: 2px;
	background-color: #D9EDF2;
}

div.errorHeader {
	color: #FF0000;
}
