th.sorted a,th.sortable a {
	background-repeat: no-repeat;
	background-position: right;
}

th.order1 a {
	background-image: url(../images/sortdown.gif);
}

th.order2 a {
	background-image: url(../images/sortup.gif);
}

.searchExprSample {
	font-family: Monaco, "Courier New", Courier, monospace;
	padding-left: 2px;
	padding-right: 2px;
	background-color: #D9EDF2;
}

div.errorHeader {
	color: #FF0000;
}

span.langcode {
	display:block;
	min-width: 1.5em;
	text-align:center;
	color: #455b6b;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 70%;
	background-color: transparent;
	padding: 2px;
	border: 1px solid #0c506f;
}

/* source.action */
#sampletriples {
	width:100%;
	font-size:80%;
}
#sampletriples .derived {
	font-style: italic;
}
#sampletriples caption {
	text-align:left;
	color:black
}
/* Paging */
.pagination {
	margin: 0.2em 0;
}
.selectedpage, .numberedpage, .nextpage, .prevpage, .firstpage, .lastpage {
	font-weight: bold;
	border: 1px solid black;
	padding: 0.1em 0.2em;
	margin: 0 0.1em;
}

.selectedpage {
	background-color: #61d3f7;
}

a.numberedpage, a.nextpage, a.prevpage, a.firstpage, a.lastpage {
	text-decoration: none;
}

a.numberedpage:hover, a.nextpage:hover, a.prevpage:hover, a.firstpage:hover, a.lastpage:hover {
	background-color:#71e3f7;
}

/* typeSearch.action */
#typesearch {
	padding-bottom:20px;
	width: 100%;
}

#typesearch select {
	width: 90%;
}
