/*
  This file is to support templates that DON'T load the Eionet central stylesheet.

  If you edit here, you are probably doing it at the WRONG location.
*/

/* Folder items icons. */
.datatable td.file {
    background: url('../images/file.gif') no-repeat left top;
    background-position: 0px 3px;
    padding-left: 20px;
}

.datatable td.folder {
    background: url('../images/folder.gif') no-repeat left top;
    background-position: 0px 3px;
    padding-left: 20px;
}

.datatable td.upFolder {
    background: url('../images/up.gif') no-repeat left top;
    background-position: 0px 3px;
    padding-left: 20px;
}

/* Style in jQuery widgets. */
div.ui-widget-content h1 {
    background-color: transparent;
    color: #315076;
    font-size: 135%;
    margin: 0;
    padding: 0.2em 0;
}

div.databox {
    color: #666666;
    background-color: #F6F6F6;
    border: 1px solid #666666;
    padding: 20px;
}

th.sorted a,th.sortable a {
    background-repeat: no-repeat;
    background-position: right;
}

th.order1 a {
    background-image: url(../images/sortdown.gif);
}

th.order2 a {
    background-image: url(../images/sortup.gif);
}

.searchExprSample {
    font-family: Monaco, "Courier New", Courier, monospace;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #D9EDF2;
}

.exactMatch {
    background-color: #D9EDF2;
}

div.errorHeader {
    color: #FF0000;
}


table#resourcesResultList {
    width: 100%;
}

span.langcode {
    min-width: 1.5em;
    text-align:center;
    color: #455b6b;
    text-decoration: none;
    font-size: 75%;
    background-color: transparent;
    padding: 2px;
    border: 1px solid #0c506f;
    margin-left: 10px;
}

/* source.action */
#sampletriples {
    width:100%;
    font-size:80%;
}
#sampletriples .derived {
    font-style: italic;
}
#sampletriples caption {
    text-align:left;
    color:black
}
/* Paging */
.pagination {
    margin: 0.2em;
    padding-bottom: 0.4em;
}
.selectedpage, .numberedpage, .nextpage, .prevpage, .firstpage, .lastpage {
    font-weight: bold;
    border: 1px solid black;
    padding: 0.1em 0.2em;
    margin: 0 0.1em;
}

.selectedpage {
    background-color: #61d3f7;
}

a.numberedpage, a.nextpage, a.prevpage, a.firstpage, a.lastpage {
    text-decoration: none;
}

a.numberedpage:hover, a.nextpage:hover, a.prevpage:hover, a.firstpage:hover, a.lastpage:hover {
    background-color:#71e3f7;
}

/* typeSearch.action */
#typesearch {
    padding-bottom:20px;
    width: 100%;
}

#typesearch select {
    width: 90%;
}

/* Dropdown operations */

#dropdown-operations, #dropdown-operations ul {
    padding: 0;
    margin: 0;
    list-style: none;
    list-style-image: none;
    float: right;
    width: 144px;
    font-family: verdana, helvetica, sans-serif;
}

#dropdown-operations li {

    float: left;
    position: relative;
    background: transparent url('../images/operations_back.gif') no-repeat;
    width: 144px;
    font-weight: bold;
    border-right: 1px dotted #ffffff;
    color: #fff;
    list-style: none;
    list-style-image: none;
    z-index: 11; /* Bug in IE6, IE7 */
}

#dropdown-operations li:hover {
    background-image: url(../images/operations_back2.gif);
}

#dropdown-operations li ul li:hover {
    background-image: none;
}

#dropdown-operations a:link, #dropdown-operations a:visited {
    display: block;
    text-decoration: none;
    padding: 0em 0.5em;
    color: #fff;
    font-size: 12px;
}

#dropdown-operations ul {
    display: none;
    position: absolute;
    top: 1.5em;
    left: 0;
    background-color: #A5CED1;
    list-style: none;
    list-style-image: none;
}

#dropdown-operations li > ul { /* For Opera and Firefox */
    top: auto;
    left: auto;
}

#dropdown-operations ul li {
    float: none;
    font-weight: normal;
    border-right: 0 none transparent;
    border-bottom: 1px dotted #000;
    background-color: #A5CED1;
    text-transform: none;
    background-image: none;
    margin: 0;
    padding: 0.1em 0;
    color: #fff;
}

#dropdown-operations li ul li a:link, #dropdown-operations li ul li a:visited {
    background: transparent url('../images/operations_drop_bullet.gif') 5px center no-repeat;
    padding: 0.1em 0 0.1em 15px;
    font-size: 12px;
    color: #000;
}

#dropdown-operations li ul li a:hover {
    background-color: #C8EDF0;
}

#dropdown-operations li:hover ul, #dropdown-operations li.over ul {
    display: block;
}

#dropdown-operations li:hover ul li, #dropdown-operations li.over ul li{
    width: 144px;
}

.action-box {
    background-color:#f0f0f0;
    padding:0.5em;
    margin: 0.3em;
    border:1px dotted black;
}
#workarea .action-box h2 {
    font-size:1.2em;
    padding: 0;
    margin: 0;
    font-weight:bold;
    border-top: none;
    border-bottom: 1px solid #cccccc;
    background-image: none;
    background-color: transparent;
}
.action-box h2 a {
    text-decoration: none;
    color: black;
}

/*  Tag Cloud styles  */
#cloud{
    clear:both;
}
#cloud a{
    text-decoration: none;
    padding-right: 3px;
}

#cloud a.tag:hover{
    background-color: #b9cfe2;
    color:black;
    /*
    color: #FFFFFF;
    background-color: #575757;
    */
}
#cloud a.size0 {
    font-size: 80%;
    line-height: 1.5em;
    color: #888888;
}
#cloud a.size1 {
    font-size: 100%;
    line-height: 1.4em;
    color: #777777;
}
#cloud a.size2 {
    font-size: 120%;
    line-height: 1.3em;
    color: #666666;
}
#cloud a.size3 {
    font-size: 140%;
    line-height: 1.2em;
    color: #444444;
}
#cloud a.size4 {
    font-size: 160%;
    line-height: 1.1em;
    color: #333333;
}
/* Autocomplete */
.autocomplete-w1 { background:url(../images/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:8px 0 0 6px; /* IE6 fix: */ _background:none; _margin:0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; }
.autocomplete strong { font-weight:normal; color:#3399FF; }
#sort{
    float:right;
    clear:both;
}

table.datatable tr.odd {
    background: #D2DDED;
}

table.datatable tr.even {
    background: #FFFFFF;
}

td.factsheetValueBrowse {
    text-align:right;
    color:#78a555
}

a.factsheetValueBrowse {
    color:#78A555;
    font-size:0.7em;
}

/* The containing element has the expandingArea
   class, define any border or inset box-shadow
   etc. here that you want to style your textarea.
   I've just added a simple 1px solid mid-grey
   border. You can also set a min-height property
   here if you want and it works as expected.
 */
div.documentContent .expandingArea {
  position: relative;
  border: 2px inset #aaa;
  background: #fff;
}
/* Any padding should go in here; it needs to be
   the same for both the pre and the textarea. You
   also need to make sure both have exactly the
   same font and line height properties, although
   the exact values can of course be anything you
   want.
 */
div.documentContent .expandingArea > textarea,
div.documentContent .expandingArea > pre {
  padding: 5px;
  margin: 0;
  outline: 0;
  border: 0;
  background: transparent;
  font: 400 13px/16px Monaco, "Courier New", Courier, monospace;
  /* Make the text soft-wrap */
  white-space: pre-wrap;
  word-wrap: break-word;
}

div.documentContent .expandingArea > textarea {
  /* The border-box box model is used to allow
     padding whilst still keeping the overall width
     at exactly that of the containing element.
   */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
  /* This height is used when JS is disabled */
  height: 100px;
  width: 100%;
}

div.documentContent .expandingArea.active > textarea {
  /* Hide any scrollbars */
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* Remove WebKit user-resize widget */
  resize: none;
}

div.documentContent .expandingArea > pre {
  display: none;
}
div.documentContent .expandingArea.active > pre {
  display: block;
  /* We don't actually want to see this text, it's just for sizing */
  visibility: hidden;
}

/* Fix for odd background image on dialogs */
#sharedBookmarksDialog, #bookmarksDialog, #prefixesDialog, #constructDialog {
  background-image: none;
  background-color: white;
}
